{% extends 'layout.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block loading %}{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="main">
            <div class="container" id="main-container">
                <div class="login">
                    <div class="login-header">
                        <div class="main-logo"><span>Gestión de Servicios TI</span></div>
                    </div>
                    <div class="mini-form">
                        <form action="" method="post" name="login">
                            <input name="user" placeholder="Usuario" type="text" />
                            <input name="pass" placeholder="Contraseña" type="password" />
                            <button class="btn btn-tenax pull-right">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}