{% extends 'layout/default/layout.twig' %}
{% block content %}
<section class="content-header">
          <h1>
            {{ title }}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
          </ol>
        </section>
<section class="content">
<!-- general form elements -->
<div class="row">
<!-- left column -->
<div class="col-md-6">
<div class="box box-primary">
<div class="box-header with-border">
  <h3 class="box-title">{{ titleform }}</h3>
</div><!-- /.box-header -->
<!-- form start -->
<form role="form" method="POST" action="">
  <div class="box-body">
    <div class="form-group">
      <label for="inputName">Nombres</label>
      <input type="text" class="form-control" id="" name="p_nombre" placeholder="Ingrese nombre">
    </div>
    <div class="form-group">
      <label for="inputApellido">Apellidos</label>
      <input type="text" class="form-control" id="" name="p_apellidos" placeholder="Apellidos">
    </div>
    <div class="form-group">
      <label for="inputdni">DNI</label>
      <input type="text" class="form-control" id="" name="p_dni" placeholder="DNI">
    </div>
    <div class="form-group">
      <label for="inputedad">Edad</label>
      <input type="text" class="form-control" id="" name="p_edad" placeholder="Edad">
    </div>
    <div class="form-group">
      <label for="inputfono">Telefono</label>
      <input type="text" class="form-control" id="" name="p_phone" placeholder="Phone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Direccion</label>
      <input type="text" class="form-control" id="" name="p_dir" placeholder="Direccion">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Diagnostico</label>
      <input type="text" class="form-control" id="" name="p_diag" placeholder="Diagnostico">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tratamiento</label>
      <input type="text" class="form-control" id="" name="p_tra" placeholder="Trata">
    </div>
    
  </div><!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn  btn-primary btn-flat">Submit</button>
  </div>
</form>
</div><!-- /.box -->
</div>
</div>
</section>
{% endblock %}